html,
body {
  font-family:Apercu, Proxima Nova, Fira Sans, Work Sans, Apercu, Helvetica Neue;
  color: #fff;
  /*background-image: url(/assets/imgs/bg@2x.jpg);*/
  /*background: linear-gradient(#35013F, #EB5033);*/
  background: #212121;
  background-size: cover;
  position: relative;
}

a,
a:link {
  color: #fff;
}

p, .serif, .gt-text--serif {
  font-family: Lora, serif;
  line-height: 1.5;
  font-weight: 100;
}

.gt-text--subhead {
  font-size: .65em;
  letter-spacing: .1em;
  /*border-bottom: 2px solid;*/
  text-transform: uppercase;
}