html,
body {
  font-family:Apercu, Proxima Nova, Fira Sans, Work Sans, Apercu, Helvetica Neue;
  color: #fff;
  /*background-image: url(/assets/imgs/bg@2x.jpg);*/
  /*background: linear-gradient(#35013F, #EB5033);*/
  background: #212121;
  background-size: cover;
  position: relative;
}

a,
a:link {
  color: #fff;
}

p,
.serif {
  font-family: Lora, serif;
  line-height: 1.5;
  font-weight: 100;
}


#bpm-helper {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  background: #222;
  padding: 10px;
  z-index: 1000;
  color: #fff;
}

/*canvas {
  position: fixed;
  top: 0;
  z-index: 1;
}*/