
.gt-screen--home {
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background: rgba(255, 255, 255, .12);*/
  position: relative;
  z-index: 1;
}

#visualization {
  background: #000;
}

#visualization canvas {
  position: fixed;
  /*top: 100px;*/
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.gt-screen__icosahedron {
  position: fixed;
  top: .5em;
  left: 0;
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .gt-screen__icosahedron {
    top: 4em;
    left: 4em;
  }
}

.gt-screen__title {
  margin-top: auto;
  text-align: center;
}

.gt-title {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0em;
  margin-top: auto;
}

.gt-title span span {
  /*border-bottom: 2px solid #fff;*/
  display: inline-block;
  min-width: 40px;
  text-align: center;
}

.gt-screen__action {
  margin-top: 2em;
  text-align: center;
}

.gt-screen__footer {
  margin-top: auto;
}

.gt-button:focus {
  outline: none;
}

.gt-button--launch {
  color: #fff;
  text-decoration: none;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  display: inline-block;
  padding: 1.25em 2em;
  border-radius: 0;
  text-transform: uppercase;
  font-size: .7em;
  /*letter-spacing: .15em;*/
  min-width: 100px;
  text-align: center;
  /*transition: all .8s ease-out;*/
}

/*.gt-button--launch:hover {
  border-top: 1px solid rgba(255, 255, 255, .25);
  border-left: 1px solid rgba(255, 255, 255, .25);
  border-right: 1px solid rgba(255, 255, 255, .25);
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  border-radius: 25px;
  letter-spacing: .275em;
}*/

.gt-screen--project {
  min-height: 100vh;
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, .12);
  display: flex;
}

.gt-screen__left,
.gt-screen__right {
  flex: 2;
}

.gt-screen__right {
  flex: 3;
}

.gt-screen__left-title {
  padding: 2em 1em;
  font-weight: 100;
  font-size: 4em;
}

.gt-screen__right {
  /*background: #fff;*/
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: .75em;
}

h2 span span {
  width: 20px;
  display: inline-block;
  text-align: center;
}

.gt-text--secondary {
  font-size: .9em;
}

.gt-text--small {
  font-size: .85em;
  opacity: .75;
  font-weight: 100;
}

.gt-text--body {
  padding: 4em 6em 4em;
  line-height: 1.5;
  font-size: 1.5em;
  font-weight: 100;
  color: rgba(255, 255, 255, .9);
  -webkit-font-smoothing: antialiased;
}